<header>
    <nav class="header-nav">
        <a class="header-title" href="/">E-seller</a>
        <ul>
            <li class = "header-link"><a href="/customer"> customer </a> </li>
            <li class = "header-link"><a href="/customer/cart"> cart </a></li>
            <li class = "header-link"><a href="/customer/profile"> Profile </a></li>
            <li class = "header-link"><a href="/customer/orders">My Orders</a></li>
        </ul>
    </nav>
</header>