<header>
    <nav class="header-nav">
        <a class="header-title" href="/">E-seller</a>
        <ul>
            <li><a href="/seller"> Sellers </a> </li>
            <li><a href="/seller/new"> Add product </a></li>
            <li> <a href="/seller/profile"> Profile </a> </li>
        </ul>
    </nav>
</header>