<header>
    <nav class="header-nav">
        <a class="header-title" href="/">E-seller</a>
        <ul>
            <li class = "header-link"><a href="/seller"> Sellers </a> </li>
            <li class = "header-link"><a href="/seller/new"> Add product </a></li>
        </ul>
    </nav>
</header>