<h1 class="pages-header">Login</h1>
<% if(messages.error) {%>
    <%= messages.error %>  
<% } %> 
<form action="/loginCustomer" method="POST">
    <div class="item">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="item">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<br>
<div class="form-row btn-row">
    <a class="btn btn-primary" href="/register">Register</a>
    <a class="btn btn-primary" href="/loginSeller">Login Seller</a>
</div>