<h1 class="pages-header">Register</h1>
<form action="/register" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-item">
            <label for="email">Mail</label>
            <input type="email" id="email" name="email" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-item">
            <label for="dob">Date of Birth</label>
            <input id="dob" type="text" name="dob" placeholder="dd/mm/yyyy">
        </div>    
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" >
        </div>
        <div class="form-item">
            <label for="address">Address</label>
            <input type="address" id="address" name="address" required>
        </div >
    </div>
    <div class="form-item">
        <input type="radio" id="seller" name="seller" value="Seller">
        <label for="seller"> Seller</label>
        <input type="radio" id="customer" name="seller" value="Customer">
        <label for="customer"> Customer</label>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<h1 class="pages-header"> Go To</h1>
<div class="btn-row">
    <a class="btn btn-primary" href="/loginSeller">Login Seller</a>
    <a class="btn btn-primary" href="/loginCustomer">Login Customer</a>
</div>