<div class="form-row">
    <div class="form-item">
        <label for="name">Name</label>
        <input type="text" name="name">
    </div>
    <div class="form-item">
        <label for="type">Type</label>
        <input type="text" name="type">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="mincost">Minimum Cost</label>
        <input type="number" name="mincost">
    </div>
    <div class="form-item">
        <label for="maxcost">Maximum Cost</label>
        <input type="number" name="maxcost">
    </div>
</div>
</div>